.card {
  margin: var(--space-sm);
  background-color: var(--color-bg);
  border: solid 2px;
  border-radius: var(--space-md);
  padding: var(--space-md);
  cursor: default;
}
.card:hover {
  background-color: var(--color-bg-hover);
}

.info-card {
  border-color: var(--color-info);
  color: var(--color-info);
}

.success-card {
  border-color: var(--color-success);
  color: var(--color-success);
}

.warning-card {
  border-color: var(--color-warning);
  color: var(--color-warning);
}

.error-card {
  border-color: var(--color-error);
  color: var(--color-error);
}
