header {
  background-color: var(--color-primary);
  width: 100%;
  height: 4em;
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: var(--space-md);
  align-items: center;
  overflow-x: scroll;
}

header .avatar {
  height: 3rem;
  margin-left: 0.5rem;
}

header .title {
  margin-right: auto;
}

header nav {
  margin-right: var(--space-lg);
  display: flex;
  gap: var(--space-lg);
}

header nav a {
  font-size: large;
}

header nav a.active {
  font-weight: bold;
  color: var(--color-accent);
}
