* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: var(--transition-color);
}

:root {
  --gray-50: #fafafa;
  --gray-100: #f4f4f5;
  --gray-200: #e4e4e7;
  --gray-300: #d4d4d8;
  --gray-400: #a1a1aa;
  --gray-500: #71717a;
  --gray-600: #52525b;
  --gray-700: #3f3f46;
  --gray-800: #27272a;
  --gray-900: #18181b;
  --sky-300: #7dd3fc;
  --blue-600: #2563eb;
  --violet-800: #5b21b6;
  --pink-200: #fbcfe8;
  --green-500: #22c55e;
  --amber-500: #f59e0b;
  --red-500: #ef4444;
  --blue-500: #3b82f6;

  --color-primary: var(--sky-300);
  --color-accent: var(--blue-600);

  --color-success: var(--green-500);
  --color-warning: var(--amber-500);
  --color-error: var(--red-500);
  --color-info: var(--blue-500);

  --color-bg: var(--gray-50);
  --color-bg-secondary: var(--gray-100);
  --color-bg-hover: var(--gray-200);
  --color-text: var(--gray-900);
  --color-text-secondary: var(--gray-600);
  --color-text-inverse: var(--gray-100);

  --transition-color: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;

  --space-sm: 0.5rem;
  --space-md: 1rem;
  --space-lg: 2rem;
}

:root.dark {
  --color-primary: var(--violet-800);
  --color-accent: var(--pink-200);

  --color-bg: var(--gray-900);
  --color-bg-secondary: var(--gray-800);
  --color-bg-hover: var(--gray-700);
  --color-text: var(--gray-100);
  --color-text-secondary: var(--gray-400);
  --color-text-inverse: var(--gray-900);
}

html {
  font-family: Cantarell, Roboto, "Segoe UI", system-ui, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  color: var(--color-text);
  background-color: var(--color-bg);
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
}

#app {
  width: 100%;
  height: 100%;
}

main {
  width: 100%;
  overflow-x: hidden;
}

a {
  color: var(--color-text);
  text-decoration: none;
}
a:hover {
  color: var(--color-accent);
  text-decoration: underline;
}

button {
  background-color: var(--color-primary);
  color: var(--color-text);
  border: none;
  padding: calc(var(--space-md) / 3) var(--space-md);
  font-size: large;
  cursor: pointer;
}
button:hover {
  box-shadow: 0 0 var(--space-sm) var(--color-accent);
}
button:active {
  box-shadow: inset 0 0 var(--space-sm) var(--color-accent);
}
