header {
  height: 5rem;
  background-color: var(--color-primary);
  color: var(--color-text);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--space-md);
  padding: 0 var(--space-lg);
  margin-bottom: 3rem;
}
header .avatar {
  width: 6rem;
  height: 6rem;
  border: 2px solid var(--color-text-inverse);
  margin-top: 5rem;
}
header .intro {
  margin-bottom: calc(0px - var(--space-lg) - 1rem - var(--space-sm) * 2);
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
}

.icon {
  width: 2rem;
  height: 2rem;
}

.list {
  padding: var(--space-sm);
  width: 20rem;
}

@media (width < 48rem) {
  header {
    height: auto;
    padding: var(--space-sm);
    gap: var(--space-md);
  }
  header .avatar {
    width: 4rem;
    height: 4rem;
    margin-top: 0;
  }
  header .intro {
    margin-bottom: 0rem;
    gap: 0;
  }
}
